body {
    background-color: #B796D9;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: sans-serif
}

li{
    color: #FFFFFF;
    font-family: sans-serif;
}

i, p {
    color: #FFFFFF;
    font-family: sans-serif;
}

p {
    font-style: normal;
    text-align: center;
    font-family: sans-serif;
    color: #FFFFFF
}
